.login-container {
  min-height: 80vh;
  padding: 4rem 2rem;
}


.btn-cliente {
  background-color: var(--c-primary-barber, #8a2c3b);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-cliente:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.711);
}



.btn-admin {
  background-color: var(--c-primary-barber, #000000);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-admin:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(138, 44, 60, 0.711);
}