<!-- 
  Este footer de escritorio se oculta en móvil (d-none) 
  y se muestra en 'lg' (d-lg-block) 
-->
<footer class="py-5 bg-dark text-white d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Tienda</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 p-0 text-white">901.234.567-8</li>
          <li class="nav-item mb-2 p-0 text-white">321 4567890</li>
          <li class="nav-item mb-2 p-0 text-white">Responsabilidad Social</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5>CONTACTANOS</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 p-0 text-white">Asesoramos tu compra WEB: Popayán: (57)321 4567890</li>
          <li class="nav-item mb-2 p-0 text-white">Lunes a Viernes (8:00am-8:00 pm)</li>
        </ul>
      </div>
    </div>
    <p class="text-center text-muted mt-4">&copy; 2025 Barba Negra, Inc</p>
  </div>
</footer>
