body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/* You can add global styles to this file, and also import other style files */
/* Añade un 'padding' en la parte inferior del body 
  solo en pantallas móviles (más pequeñas que 'lg') 
  para que el mobile-nav no tape el contenido.
*/
@media (max-width: 991.98px) {
  body {
    /* 100px es un valor seguro, ajústalo si es necesario */
    padding-bottom: 100px;
  }
}


